<div class="container">
  <h1>Konr Larson</h1>
  <p>Web Developer</p>
  <p>I am a Ruby on Rails developer looking for a team that encourages a strong learning environment, follows agile development patterns, and promotes growth and engagement in TDD with a pair programming process.</p>

  <br>

  <a href="http://facebook.com/larsonkonr" target="_blank">
  <%= image_tag("logos/facebook_logo.png", :class => "logo") %></a>

  <a href="http://twitter.com/larsonkonr" target="_blank">
  <%= image_tag("logos/twitter_logo.png", :class => "logo") %></a>

  <a href="https://github.com/larsonkonr/" target="_blank">
  <%= image_tag("logos/github_logo.png", :class => "logo") %></a>

  <a href="mailto:larsonkonr@gmail.com" target="_blank">
  <%= image_tag("logos/email_logo.png", :class => "logo") %></a>

  <a href="https://plus.google.com/+KonrLarson/posts" target="_blank">
  <%= image_tag("logos/google_logo.png", :class => "logo") %></a>

  <a href="https://www.linkedin.com/in/larsonkonr" target="_blank">
  <%= image_tag("logos/linkedIn_logo.png", :class => "logo") %></a>
</div>
